exportPattern("^[[:alpha:]]+")
importFrom(neuralnet, neuralnet, compute)
importFrom(stats, as.formula)
S3method(print, quarry)
S3method(as.data.frame, quarry)
S3method(compute.dc, default)
S3method(compute.dc, quarry)
S3method(compute.ann, default)
S3method(compute.ann, quarry)
S3method(print, interaction.index)
S3method(compute.interaction, default)
S3method(compute.interaction, quarry)
